<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../static/styles/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="../static/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="../static/styles/extras.1.1.0.min.css">
    <script async defer src="../static/scripts/buttons.js"></script>
		<script type="text/javascript" src="../static/scripts/jquery.min.js"></script>
		<script src="../static/scripts/FileSaver.js"></script>
            <script type="text/javascript" src="../static/scripts/ichart.1.2.1.min.js"></script>
    
    
  </head>
  <body class="h-100">

    <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="../static/images/shards-dashboards-logo.svg" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1">PerTether</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <div class="nav-wrapper">
            <ul class="nav flex-column">

              <!-- <li class="nav-item">
                <a class="nav-link " href="#">
                  <i class="material-icons">table_chart</i>
                  <span class="lang" key="Introduction">Introduction</span>
                </a>
              </li> -->
                <li class="nav-item">
                  <a class="nav-link " href="#">
                    <i class="material-icons">note_add</i>
                    <span class="lang" key="Login">Login</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/signup">
                    <i class="material-icons">note_add</i>
                    <span class="lang" key="Signup">Sign up</span>
                  </a>
                </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">

                    </div>
                  </div>
                 </div>
              </form>
             <ul class="navbar-nav border-left flex-row " style="float: right">
              <li>
                <button class='btn btn-accent translate' id="zh" style="width: 100px; margin-top: 10px;">中文</button>
              </li>
              <li>
                <button class='btn btn-accent translate' id="en" style="width: 100px; margin-top: 10px;margin-left: 10px;">English</button>
              </li>
              </ul>
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4 mb-3 border-bottom">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <!--<span class="text-uppercase page-subtitle">Overview</span>-->
                <h3 class="page-title lang" key="Login">Login</h3>
                <!--(Tips:If you enter multiple values, please separate them with spaces.)-->
              </div>
            </div>
            <!-- End Page Header -->
              <div class="row" style="display: block">
                  <div class="col-lg-12">
                  <form name="input" action="/user_login/" method="post">
                    <div class="card card-small mb-4">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                          <div class="row">
                            <div class="col">
                                <div class="form-row">
                                    <span><b style="color: darkred">&nbsp; {{ err_msg }}</b></span>
                                </div>
                                <br>
                                  <div class="form-row">
                                      <span ><b class="lang" key="Username">&nbsp; Username</b></span>
                                  </div>
                                <div class="form-row">
                                  <div class="form-group col-md-12">
                                      <input type="text" name="username" min="2" class="form-control" id="username" placeholder="Username" required="required">
                                  </div>
                                </div>
                                  <div class="form-row">
                                      <span ><b class="lang" key="Password">&nbsp;&nbsp;Password</b></span>
                                  </div>
                                <div class="form-row">
                                  <div class="form-group col-md-12">
                                      <input type="password" name="password" class="form-control" id="password" placeholder="Password" required="required">
                                  </div>
                                </div>
                                <div class="form-row">
                                  <span><b  class="lang" key="Tool">&nbsp;&nbsp;Tool</b></span>
                              </div>
                                <div class="form-row">
                                  <div class="form-group col-md-12">
                                        <select name="tooltype" id="tooltype"  class="form-control" required>
                                            <option value="musc">MuSC</option>
                                            <option value="pertether">PerTether</option>
                                        </select>
                                </div>
                            </div>

                                  <button type='submit' id='nextbtn' class='btn btn-accent lang' style="width: 100px;float: right" key="Login">Login</button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </form>
                  </div>

              </div>
            <!-- End Default Light Table -->
          </div>


          <footer class="main-footer d-flex bg-white border-top">

            <span class="copyright " style="text-align: center; margin: 30px 450px;">Copyright © 2019 </span>
          </footer>
        </main>
      </div>
    </div>
    <script type="text/javascript">
      var arrLang = {
        "en": {
          "Login": "Login",
          "Introduction": "Introduction",
          "Username": "   Username",
          "Password": "   Password",
          "Tool": "   Tool",
          "Signup":"Sign Up",
        },
        "zh": {
          "Login": "登录",
          "Introduction": "简介",
          "Username": "   用户名",
          "Password": "   密码",
          "Tool": "   工具",
          "Signup":"注册",
        }
};

// The default language is English
var lang = "en";
// Check for localStorage support
if('localStorage' in window){
   var lang = localStorage.getItem('lang') || navigator.language.slice(0, 2);
   if (!Object.keys(arrLang).includes(lang)) lang = 'en';
}

$(document).ready(function() {
  $(".lang").each(function(index, element) {
    $(this).text(arrLang[lang][$(this).attr("key")]);
  });
});

// get/set the selected language
$(".translate").click(function() {
  var lang = $(this).attr("id");

  // update localStorage key
  if('localStorage' in window){
    localStorage.setItem('lang', lang);
    console.log( localStorage.getItem('lang') );
  }

  $(".lang").each(function(index, element) {
    $(this).text(arrLang[lang][$(this).attr("key")]);
  });
});

    </script>
    <script src="../static/scripts/jquery.min.js"  ></script>
    <script src="../static/scripts/popper.min.js"  ></script>
    <script src="../static/scripts/bootstrap.min.js" ></script>
    <script src="../static/scripts/Chart.min.js"></script>
    <script src="../static/scripts/shards.min.js"></script>
    <script src="../static/scripts/jquery.sharrre.min.js"></script>
    <script src="../static/scripts/extras.1.1.0.min.js"></script>
    <script src="../static/scripts/shards-dashboards.1.1.0.min.js"></script>
    <script src="../static/scripts/app/app-components-overview.1.1.0.js"></script>
  </body>
</html>